@model OnlineGallery.Models.ArtworksModel

@{
    @*var isArtist = (int)Model.Role == 4 || (int)Model.Role == 5;*@
}

<div class="modal fade" id="artworkModal-@Model.Id" tabindex="-1" aria-labelledby="artworkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="artworkModalLabel">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column align-items-center">
                <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid mb-3" style="max-height: 400px;height:auto;width:auto;">
                <p><strong>Description:</strong> @Model.Description</p>
                <p><strong>@Model.Price€</strong> </p>

                @*@if (isArtist)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                }*@

                <form asp-action="Buy" asp-controller="Transaction" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-success">Buy Now</button>
                </form>

            </div>
        </div>
    </div>
</div>
