@model IEnumerable<OnlineGallery.Models.ArtworksModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Gallery - Index";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewData["Title"]</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet"> <!-- icons -->
<link rel="stylesheet" href="~/css/artworks.css" />

<div class="container text-center mt-5">
    <div class="gallery">
        @foreach (var artwork in Model)
        {
            <div class="gallery-item">
                <img src="@artwork.ImageUrl" alt="@artwork.Title" class="img-fluid">
                <div class="gallery-info">
                    <h5>@artwork.Title</h5>
                    @*<h5>@artwork.Description</h5>*@
                    <p>@artwork.Price€</p>
                    <div class="d-flex gap-2 justify-content-center">
                        <button type="button" class="btn btn-info" title="View details" data-bs-toggle="modal" data-bs-target="#artworkModal-@artwork.Id">
                            <i class="bi bi-eye"></i>
                        </button>

                        @{
                            var userId = ViewBag.UserId as int?;
                            var artworkOwner = userId != null && artwork.Artist != null && artwork.Artist.Id == userId.Value;
                            var available = artwork.Status == ArtworkStatus.Available;

                        }

                        <form asp-action="Buy" asp-controller="Transaction" asp-route-id="@artwork.Id" method="post">

                            @if (artworkOwner)
                            {
                                <button type="submit" class="btn btn-secondary" title="You cannot buy your own artwork." disabled>
                                    <i class="bi bi-cart2"></i>
                                </button>
                            }
                            else if (!available)
                            {
                                <button type="submit" class="btn btn-secondary" title="This artwork is no longer available." disabled>
                                    <i class="bi bi-cart2"></i>
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success" title="Buy Now">
                                    <i class="bi bi-cart2"></i>
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("_ArtworksModal", artwork)
        }
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
