@model IEnumerable<BanStatusModel>

<h2>Users</h2>

<div class="card" style="max-height: 550px; overflow-y: auto; border-radius: 15px; box-shadow: 0 4px 12px rgba(23,0162,184,0.9);">

    <table class="table bg-light" style="border-radius: 10px; overflow: hidden;">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var model in Model)
                {
                    var user = model.User;
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>
                            @if (model.IsCurrentlyBanned)
                            {
                                <form asp-action="Unban" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-outline-dark w-25">Unban</button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="Ban" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-outline-danger w-25">Ban user</button>
                                </form>
                            }

                            <form asp-action="History" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@user.Id" />
                                <button type="submit" class="btn btn-outline-info">History</button>
                            </form>
                        </td>
                        @if (model.IsCurrentlyBanned)
                        {
                            <td class="text-danger">Banned User</td>
                        }
                        else
                        {
                            <td>Active</td>
                        }
                    </tr>
                }
            }
            else
            {
                <p> No user found. </p>
            }
        </tbody>
    </table>
</div>
